# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
monitor=desc:BOE 0x095F,disable
monitor=desc:LG Electronics LG ULTRAWIDE 0x0000FFDB,3440x1440@49.98700,1200x0,1.00000000,transform,0,vrr,0
monitor=desc:Dell Inc. DELL U2415 PVJVW5473DWL,1920x1200@59.95000,0x0,1.00000000,transform,1,vrr,0
# <<<<< TUI AUTO END
